# World directories
world/
world_nether/
world_the_end/

# Log files
logs/
bluemap/logs/
*.log
*.log.*
*.log.gz
*.log.lck

# Server jar
server.jar

# Other changing files
# plugins/CoreProtect/database.db
# plugins/AxGraves/data.json
# usercache.json
# .console_history
spark-*.tmp
plugins/CoreProtect/database.db

crash-reports/
cache/
bluemap/
versions/
.console_history/
banned-ips.json
banned-players.json
libraries/
usercache.json
whitelist.json
ops.json

*.sqlite